@code-color: hsl(0,0%,80%);
@keyword-color: hsl(210,80%,70%);
@string-color: hsl(50,55%,55%);
@comment-color: hsl(60,7.5%,50%);

@syntax-background-color: hsl(0,0%,12%);
@syntax-cursor-color: hsl(0,0%,100%);
@syntax-selection-color: hsl(210,60%,30%);
@syntax-selection-flash-color: hsl(210,100%,100%);

@syntax-wrap-guide-color: hsl(0,0%,26%);
@syntax-indent-guide-color: hsl(0,0%,20%);

@syntax-result-marker-color: hsl(0,0%,100%);
@syntax-result-marker-color-selected: hsl(0,100%,50%);

@syntax-gutter-text-color: hsl(0,0%,70%);

@syntax-color-renamed: #96CBFE;
@syntax-color-added: #A8FF60;
@syntax-color-modified: #E9C062;
@syntax-color-removed: #CC6666;

@bracket-matcher-color: hsl(0,0%,40%);

@import "../node_modules/atom-4-color-base/src/base";
